<h1>Demo Boards - Topic List</h1>
<table class="topic-list">
  <thead class="topic-list-header">
    <TopicList::Header />
  </thead>

  <PluginOutlet @name="before-topic-list-body" @topics=topics/>
  
  <tbody class="topic-list-body">
    {{#each @topics as |topic|}}
      <TopicList::Item @topic={{topic}} />

      {{#if topic.isLastVisited}}
        <TopicList::VisitedLine />
      {{/if}}
    {{/each}}
  </tbody>

  <PluginOutlet @name="after-topic-list-body" @topics=topics/>
</table>
